@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

body {
  font-family: "Outfit", sans-serif;
  cursor: default;
}
h1,h2,h3{
    font-family: "Bebas Neue", sans-serif;
}
